<div class="row d-flex" style="text-align: center; align-items: baseline;">
    <div class="col-12 col-md-2">
        <img src="~/images/logo2.png" style="width: 150px; object-fit: cover" />
    </div>
    <div class="col-12 col-md-2">
        <img src="~/images/facebook.svg" style="display: inline-block; margin: .25rem" />
        <img src="~/images/instagram.svg" style="display: inline-block; margin: .25rem" />
        <img src="~/images/youtube.svg" style="display: inline-block; margin: .25rem" />
    </div>
    <div class="col-12 col-md-4 box_info" style="text-align: left">
        國立公共資訊圖書館版權所有 <span id="btn_manage">©</span> 2025 All Rights Reserved
    </div>
    <div class="col-12 col-md-4 box_info" style="text-align: left">
        總館地址：402011臺中市南區五權南路100號 ／環景導覽<br />
        電話：(04)2262-5100 TaNet Phone：99077000
    </div>
</div>

<a asp-area="Frontend" asp-controller="Access" asp-action="LoginM" class="d-none btn_guideM"></a>
@* <a asp-area="Backend" asp-controller="Manage" asp-action="Index" class="d-none btn_guideM"></a> *@