.tab-content {
   height: 50vh;
    width: 100%;
    padding: 20px;
    background: var(--c-green1-025);
    background: linear-gradient(180deg, var(--c-green1-025) 0%, var(--c-green1-000) 50%);
    border-top: 1px solid var(--c-gray2-025);
    border-right: 1px solid var(--c-gray2-025);
    border-bottom: 1px solid transparent;
    border-left: 1px solid var(--c-gray2-025);
    border-radius: .5rem;
}

.table {
    justify-content: center;
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--c-gray2-050);
}

#btn_reserve {
    background-color: var(--c-blue---050);
    color: white;
}

    #btn_reserve:active {
        background-color: var(--c-blue---050) !important;
        color: white !important;
    }

    #btn_reserve:hover {
        background-color: var(--c-blue---050);
        color: white;
        animation: ani_btn .75s infinite;
    }
