@model test2.Models.ManagementModels.ZhongXian.Normal.LanguageAndTypeViewModel


<select  class="form-select form-select-sm fs-4 fw-bold w-100 bookLangue">
    @foreach (var x in Model.Language!)
    {
        if(Model.id == x.LanguageId) {<option value="@x.LanguageId" selected>@x.Language1</option> }
        else {<option value="@x.LanguageId">@x.Language1</option> }
    }
</select>