@{
    DateTime NowTime = DateTime.Now;
    string twoMonth = NowTime.AddMonths(-2).ToString("yyyy-MM-dd");
    string DateTiemNow = NowTime.ToString("yyyy-MM-dd");
}


<div class="row mt-1">
    <div class="col">
        <h1 class="fw-bold">借閱查詢</h1>
        <hr />
        <form id="borrowForm" method="post" asp-action="Query" class="d-flex justify-content-between align-items-end flex-wrap gap-2">
            <div class="d-flex flex-wrap gap-3  fs-5 fw-bold">
                <div>
                    <label for="borrow_BorrowID" class="form-label mb-0">借閱編號</label>
                    <input id="borrow_BorrowID" name="borrow_BorrowID" type="number" class="form-control form-control-sm fs-5 fw-bold" placeholder="All"  style="width: 100px; height: 60px"/>
                </div>
                <div>
                    <label for="borrow_bookCode" class="form-label mb-0">書籍編號</label>
                    <input id="borrow_bookCode" name="borrow_bookCode" type="text" class="form-control form-control-sm fs-5 fw-bold" placeholder="All" style="width: 270px; height: 60px" maxlength="21"/>
                </div>
                <div>
                    <label for="borrow_UserID" class="form-label mb-0">借閱者ID</label>
                    <input id="borrow_UserID" name="borrow_UserID" type="number" class="form-control form-control-sm fs-5 fw-bold" placeholder="All" style="width: 100px; height: 60px"/>
                </div>
                <div>
                    <label for="borrow_initDate" class="form-label mb-0">借閱日期</label>
                    <input id="borrow_initDate" name="borrow_initDate" type="date" class="form-control form-control-sm fs-5 fw-bold" max="@DateTiemNow" style="width: 160px; height: 60px"/>
                </div>
                <div>
                    <label for="borrow_lastDate" class="form-label mb-0">至</label>
                    <input id="borrow_lastDate" name="borrow_lastDate" class="form-control form-control-sm fs-5 fw-bold" type="date" max="@DateTiemNow" style="width: 160px; height: 60px"/>
                </div>
                <div>
                    <label for="borrow_state" class="form-label mb-0">借閱狀態</label>
                    <select id="borrow_state" name="borrow_state" class="form-select form-select-sm fs-5 fw-bold" style="width: 120px; height: 60px">
                        <option value="ALL">全部</option>
                        <option value="借閱中">借閱中</option>
                        <option value="已歸還">已歸還</option>
                        <option value="逾期">逾期</option>
                    </select>
                </div>
                <div class="align-self-end">
                    <button id="borrow_select" type="button" class="btn btn-sm btn-lg fs-2 fw-bold text-white" style="background-color: #2E7D32 ">查詢</button>
                </div>
                <div class="align-self-end">
                    <button id="borrow_clear" type="button" class="btn btn-secondary btn-sm btn-lg fs-2 fw-bold">清除</button>
                </div>
            </div>
            <div class="d-flex flex-wrap gap-3 fs-5 fw-bold">
                <div>
                    <label for="borrow_OrderDate" class="form-label mb-0 fw-bold">排序</label>
                    <select id="borrow_OrderDate" name="borrow_OrderDate" class="form-select form-select-sm fs-5 fw-bold " style="height: 60px">
                        <option value="borrowDate">借閱日期</option>
                        <option value="dueDate">借閱期限</option>
                        <option value="returnDate">還書日期</option>
                    </select>
                </div>
                <div>
                    <label for="borrow_perPage" class="form-label mb-0 fw-bold">筆數</label>
                    <select id="borrow_perPage" name="borrow_perPage" class="form-select form-select-sm fs-5 fw-bold" style="width: 90px; height: 60px">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div>
                    <label for="borrow_orderBy" class="form-label mb-0 fw-bold">方向</label>
                    <select id="borrow_orderBy" name="borrow_orderBy" class="form-select form-select-sm fs-5 fw-bold" style="width: 90px; height: 60px">
                        <option value="desc">遞減（新到舊）</option>
                        <option value="asc">遞增（舊到新）</option>
                    </select>
                </div>
            </div>
        </form>
        <div id="BorrowContent" class="mt-3">
        </div>
    </div>
</div>
